<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentations</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }
        .form-container {
            max-width: 500px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<div id="header-placeholder"></div>
<div class="alert alert-success alert-dismissible fade" role="alert" id="success-alert">
    Category deleted successfully
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="container">
    <h1 class="my-4">Kategorie</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Dodane kategorie</h2>
            <ul id="categories-list" class="list-group">
            </ul>
        </div>
        <div class="col-md-6">
            <div class="form-container">
                <h2>Dodaj nową:</h2>
                <form id="categories-form">
                    <div class="form-group">
                        <label for="name">Nazwa</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryModalLabel">Edytuj kategorię</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="edit-category-form">
                        <div class="form-group">
                            <label for="edit-name">Nazwa</label>
                            <input type="text" class="form-control" id="edit-name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    $(function() {
        $("#header-placeholder").load("/header");
    });
    window.addEventListener('load', () => {
        fetchCategories();
    });
    function fetchCategories() {
        fetch("/admin/categories")
            .then(response => response.json())
            .then(data => {
                const categoriesList = document.getElementById('categories-list');
                categoriesList.innerHTML = '';
                data.forEach(category => {
                    const listItem = document.createElement('li');
                    listItem.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center');
                    listItem.innerHTML = `
    <div>
        Nazwa: ${category.name}<br>
        Ilość prezentacji: ${category.presentations ? category.presentations.length : 0}<br>
    </div>
<div class="d-flex justify-content-center">
<button class="btn btn-sm btn-warning me-2" onclick="editCategories(${category.id})">
Edytuj
</button>
<span class="mx-1"></span>
<button class="btn btn-sm btn-danger" onclick="deleteCategories(${category.id})">
Usuń
</button>
</div>
                `;
                    categoriesList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Error fetching categories:', error));
    }

    document.getElementById('categories-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch('/admin/categories', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to add categories');
                }
                fetchCategories();
                this.reset();
            })
            .catch(error => console.error('Error adding categories:', error));
    });

    function deleteCategories(id) {
        if (!confirm('Are you sure you want to delete this category?')) {
            return;
        }

        fetch(`/admin/categories/${id}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to delete categories');
                }
                $('#editCategoryModal').modal('hide');
                fetchCategories();
            })
            .catch(error => console.error('Error deleting categories:', error));
    }
    let categoryIdToEdit = null;

    function editCategories(id) {
        $('#editCategoryModal').modal('show');
        categoryIdToEdit = id;
    }

    document.getElementById('edit-category-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const name = document.getElementById('edit-name').value;
        const updatedCategory = {
            name: name,
            id: categoryIdToEdit,
        };

        fetch(`/admin/categories/${categoryIdToEdit}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedCategory)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to update category');
                }
                fetchCategories();
            })
            .catch(error => console.error('Error updating category:', error));
        document.getElementById('edit-name').value = '';
    });
</script>
</body>
</html>
